*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,Helvetica,sans-serif;
background:#eef4ef;
color:#222;
}

header{
background:linear-gradient(135deg,#0f5d47,#1b8065);
color:white;
text-align:center;
padding:50px 20px;
}

header h1{
font-size:2.6rem;
margin-bottom:10px;
}

.container{
max-width:1000px;
margin:auto;
padding:25px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 4px 12px rgba(0,0,0,.12);
margin-bottom:25px;
}

h2{
margin-bottom:20px;
color:#0f5d47;
}

label{
display:block;
font-weight:bold;
margin-top:18px;
margin-bottom:6px;
}

select{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:8px;
}

button{
width:100%;
padding:14px;
margin-top:20px;
border:none;
border-radius:8px;
background:#0f5d47;
color:white;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#0a4132;
}

.info-btn{
background:#f3f7f5;
color:#0f5d47;
border:1px solid #0f5d47;
margin-top:0;
margin-bottom:8px;
}

.info-btn:hover{
background:#dfece6;
}

.info-box{
display:none;
background:#f7fbf8;
border-left:4px solid #0f5d47;
padding:12px;
margin-bottom:12px;
border-radius:6px;
}

.info-box ul{
padding-left:20px;
}

.info-box li{
margin-bottom:5px;
}

.score{
font-size:70px;
font-weight:800;
color:#0f5d47;
margin-bottom:15px;
}

#grade,
#factor,
#recommendation,
#forecast{
font-size:18px;
margin-top:12px;
}

strong{
color:#0f5d47;
}

.species-image{
    width:100%;
    max-width:350px;
    height:auto;
    display:block;
    margin:10px auto;
    border-radius:10px;
    border:2px solid #d9d9d9;
}
